<!DOCTYPE html>
<html>
<body>
  <%- include("../partials/_navbar.ejs") %>

  <h1>My Pantry</h1>

  <!-- Add new pantry item -->
  <a href="/users/<%= user._id %>/foods/new">Add New Item</a>

  <% if (pantry.length === 0) { %>
    <p>No items in your pantry.</p>
  <% } else { %>
    <ul>
      <% pantry.forEach(item => { %>
        <li>
          <%= item.name %>

          <!-- Edit item -->
          <a href="/users/<%= user._id %>/foods/<%= item._id %>/edit">Edit</a>

          <!-- Delete item -->
          <form 
            action="/users/<%= user._id %>/foods/<%= item._id %>?_method=DELETE" 
            method="POST" 
            style="display:inline;"
          >
            <button>Delete</button>
          </form>
        </li>
      <% }) %>
    </ul>
  <% } %>
</body>
</html>
